@model WebApplication12.ViewModels.HomeDetailsViewModel
@{ 
    ViewBag.Title = "Student Details";
}

        <h3>@Model.PageTitle</h3>
        <div>
            姓名：@Model.Student.Name
        </div>
        <div>
            邮箱：@Model.Student.Email
        </div>
        <div>
            主修科目：@Model.Student.Major
        </div>
@section Scripts{ 
<script src="/js/JavaScript.js"></script>
}